<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <title>带抵押过户判断工具</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/theme-chalk/index.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/index.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
</head>
<style>
    * { padding: 0px; margin: 0px; box-sizing: border-box; list-style: none; }
    header { width: 100%; height: 64px; line-height: 64px;; background-color: #00235B; padding: 0px 10px; }
    h1{color: #FFFFFF; font-size: 18px; text-align: center;}
    body{ min-height: 100vh; background-color: #FFFFFF; position: relative;}
    label{font-weight: 600;display: inline-block; margin-right: 4px;}
    .main .el-select{width: 100%; }
    .body { min-width: 320px; max-width: 460px; margin: 24px auto; padding: 0px 16px 60px 16px;}
    .footer { width: 100%; text-align: center; position: fixed; bottom: 0px; padding: 16px 0px; border-top: 1px solid #eeeeee; background-color: #FFFFFF;}
</style>

<template id="template">
    <div>
        <header>
            <h1>带抵押过户判断工具</h1>
        </header>
        <div class="main">
            <div class="body">
                <el-form ref="form" :model="form" label-width="80px" label-position="top">
                    <el-form-item label="抵押银行" prop="loanBank">
                        <lite-select :options="ALLOWED_BANKS" v-model="form.loanBank" />
                    </el-form-item>
                    <el-form-item label="业主抵押贷款" prop="loanCount">
                        <lite-radio-group :options="LOAN_VOLUMN" v-model="form.loanCount" />
                    </el-form-item>
                    <el-form-item v-if="form.loanCount" label="业主抵押类型" prop="loanType">
                        <lite-select :options="LOAN_TYPES" v-model="form.loanType" />
                    </el-form-item>
                    <el-form-item v-if="form.loanType !== '纯商贷'" label="产调抵押页核准日期" prop="isBeforeLastAllowDate">
                        <el-radio-group v-model="form.isBeforeLastAllowDate">
                            <el-radio :label="true">2020年8月1号前</el-radio>
                            <el-radio :label="false">2020年8月1号后</el-radio>
                          </el-radio-group>
                    </el-form-item>
                    <el-form-item v-if="!form.isBeforeLastAllowDate" label="产调抵押页债务履行期限起始日期" prop="isBeforeExecLastDate">
                        <el-radio-group v-model="form.isBeforeExecLastDate" @change="onLimitDateChange">
                            <el-radio :label="true">2020年8月1号前</el-radio>
                            <el-radio :label="false">2020年8月1号后</el-radio>
                          </el-radio-group>
                    </el-form-item>
                    <el-form-item v-if="form.loanType === '纯公积金'" label="抵押银行能够给开征询函" prop="isAllowedBilling">
                        <lite-radio-group v-model="form.isAllowedBilling" :options="[{label: '可以', value: true},{label: '不可以', value: false}]" />
                    </el-form-item>
                    <el-form-item v-if="form.loanType === '组合贷'" label="组合贷所在区域" prop="mutipltLoanLocations">
                        <lite-select :options="UNALLOWS_MULTIPLE_LOAN_LOCATIONS" v-model="form.mutipltLoanLocations" />
                    </el-form-item>
                    <el-form-item label="客户支付方式" prop="paymentMethod">
                        <lite-radio-group :options="PAYMENT_TYPES" v-model="form.paymentMethod" />
                    </el-form-item>
                    <el-form-item label="业主产调是否有显示禁止限制转让" prop="isLimitedTransfer">
                        <lite-radio-group v-model="form.isLimitedTransfer" :options="[{label: '有', value: true},{label: '没有', value: false}]" />
                    </el-form-item>
                    <el-form-item v-if="form.isLimitedTransfer" label="资产所在区域" prop="limitedTransferLocation">
                        <lite-select :options="LIMITED_TRANSFER_LOCATIONS" v-model="form.limitedTransferLocation" />
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div class="footer">
            <el-button type="warning" @click="onReset">重新填写</el-button>
            <el-button type="primary" @click="onSubmit">评估结果</el-button>
        </div>

        <el-dialog :visible.sync="visible" title="评估结果" @closed="onClosed">
            <div v-if="result">
                <span style="font-size: 16px; font-weight: 900;">
                    <span :style="{ color: result.success ? '#67C23A' : '#F56C6C'}">{{ result.message }}</span>
                </span>
                <ul style="margin-top: 24px; font-size: 16px;">
                    <ol style="margin-bottom: 12px;" v-for="(msg, idx) in result.messages" :key="msg">
                        <span>{{ idx + 1}}</span>
                        <span>{{ msg }}</span>
                    </ol>
                </ul>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    const mapMethod = list => list.map(i => ({label: i, value: i }))

    const LiteSelect = {
        name: 'LiteSelect',
        render(h){
            const childNodes = this.$attrs.options.map(({ label, value}) => h('el-option', { props: { label, value}}))
            return h('el-select', { props: { ...this.$attrs}, on: { ...this.$listeners }}, childNodes)
        }
    }

    const LiteRadioGroup = {
        name: 'LiteRadioGroup',
        render(h){
            const childNodes = this.$attrs.options.map(({ label, value}) => h('el-radio-button', { props: { label: value }}, label))
            return h('el-radio-group', { props: { ...this.$attrs}, on: { ...this.$listeners }}, childNodes)
        }
    }

    window.onload = function(){
        new Vue({
            name: "Application",
            components: { LiteSelect, LiteRadioGroup },
            data(){
                return {
                    visible: false,
                    result: null, // messages: [] | message: '' 

                    form: {
                        loanBank: "工行",
                        loanCount: 1,

                        loanType: "纯商贷", // 贷款类型
                        isBeforeLastAllowDate: true, // 是否在截止期之前
                        isBeforeExecLastDate: undefined, // 产调抵押页债务履行期限起始日期
                        isAllowedBilling: true, // 抵押银行给开征询函可
                        mutipltLoanLocations: "其他", // 组合贷地址

                        paymentMethod: "全款",

                        isLimitedTransfer: false, // 业主产调显示有禁止限制转让
                        limitedTransferLocation: "其他"
                    },

                    ALLOWED_BANKS: mapMethod(["工行","农行","中行","建行","交行","招行","北京银行","农商银行","中信银行","兴业银行","民生银行","上海银行", "其他银行"]),
                    LOAN_VOLUMN: [{ label: "产调上仅有一个银行按揭抵押贷款", value: 1}, {label: "一个以上", value: 2}],
                    LOAN_TYPES: mapMethod(["纯商贷", "组合贷", "纯公积金"]),
                    UNALLOWS_MULTIPLE_LOAN_LOCATIONS: mapMethod(["徐汇", "长宁", "崇明", "其他"]),
                    PAYMENT_TYPES: mapMethod(["全款","组合贷","纯商贷", "纯公积金"]),
                    LIMITED_TRANSFER_LOCATIONS: mapMethod(["长宁","静安","普陀","黄浦","徐汇","嘉定","虹口","杨浦", "其他"]),

                    SUCCESS_MESSAGES: [
                        '监管资金总额≥网签房屋买卖合同价的70%（上限网签价100%），低于7成可提前向大区管家报备，通过后可操作',
                        '监管资金总额≥上家到期还款总额+5%合同价（必须满足）',
                        '自有资金部分需大于应监管额的10%且不低于10万（应监管金额=合同价-贷款金额）'
                    ],

                    ERROR_MESSAGE: '评估不通过',
                    SUCCESS_MESSAGE: '可做带抵押过户，同时监管金额需满足以下条件',
                    WARNING_MESSAGE: '特殊情况请进一步与大区管家确认'
                }
            },
            template: "#template",
            methods:{
                givenAnResult(form){
                    const methods = [
                        // 银行
                        ({loanBank }) => {
                            if(loanBank.includes("其他")){
                                return [false, loanBank + ' 银行不做']
                            }
                            else{
                                return [true, loanBank + ' 可以做']
                            }
                        },

                        // 抵押贷款数量
                        ({loanCount }) => {
                            if(loanCount > 1){
                                return [false, '业主仅能有一个按揭抵押贷款']
                            }
                            else{
                                return [true, '按揭抵押贷款小于一个']
                            }
                        },

                        // 业主抵押
                        ({ loanCount, loanType, isBeforeLastAllowDate, isAllowedBilling, mutipltLoanLocations }) => {
                            if(loanType === '组合贷'){
                                if(!isBeforeLastAllowDate){
                                    return [false]
                                }

                                if(!mutipltLoanLocations.includes('其他')){
                                    return [false, '组合贷 徐汇、长宁、崇明组合贷不可做']
                                }

                                return [true]
                              
                            }
                            else if(loanType === '纯公积金'){
                                if(!isBeforeLastAllowDate){
                                    return [false]
                                }

                                if(!isAllowedBilling){
                                    return [false, '纯公积金 抵押银行给开征询函可做']
                                }

                                return [true]
                            }
                            else {
                                return [true]
                            }
                        },

                        // 产调抵押页债务履行期限起始日期
                        ({ isBeforeExecLastDate, isBeforeLastAllowDate }) => {
                            if(isBeforeLastAllowDate === false && typeof isBeforeExecLastDate === 'boolean') {
                                if(isBeforeExecLastDate){
                                    return [false, '产调抵押页债务履行期限起始日期 特殊情况 需进一步确认']
                                }else{
                                    return [false, '产调抵押页债务履行期限起始日期 2020年8月1号之后不可以做']
                                }
                            }

                            return [true]
                        },

                        // 付款方式
                        ({ paymentMethod }) => {
                            if(paymentMethod === '纯公积金'){
                                return [false, '客户全款、组合贷、纯商可做；纯公积金不可做']
                            }
                            else{
                                return [true]
                            }
                        },

                        // 抵押贷款数量
                        ({isLimitedTransfer, limitedTransferLocation }) => {
                            if(!isLimitedTransfer){
                                return [true]
                            } else if (limitedTransferLocation.includes("其他")){
                                return [true]
                            } else {
                                return [false, '业主产调显示有禁止限制转让, ' + limitedTransferLocation + ' 不可以做'] 
                            }
                        },
                    ]

                    const results = methods.map(method => method(form))

                    const success = results.every(([isOk]) => isOk)
                    const messages = results.reduce((list,curr) => { 
                        if(!curr[0]){
                            curr[1] && list.push(curr[1])
                        }
                        return list
                    }, [])

                    const message = form.isBeforeLastAllowDate === false && form.isBeforeExecLastDate === true
                        ? this.WARNING_MESSAGE
                        : (success ? this.SUCCESS_MESSAGE : this.ERROR_MESSAGE)

                    return {
                        messages: success ? this.SUCCESS_MESSAGES : messages,
                        message,
                        success,
                    }
                },

                onSubmit(){
                    this.$refs.form.validate(valid => {
                        if(true){
                            this.onLimitDateChange()
                        }
                    })
                },

                onReset(){
                    this.$refs.form.resetFields()
                },

                onLimitDateChange(){
                    let result = this.givenAnResult(this.form)

                    this.result = result
                    this.visible = true
                },

                onClosed(){
                    this.result = null
                }
            }
        }).$mount("#app")
    }
</script>
<body>
    <div id="app"></div>
</body>
</html>